<div class="background-element">
  <img src="{{ 'top-left.png' | asset_url }}" id="top-left">
  <img src="{{ 'top-right.png' | asset_url }}" id="top-right">

  <img src="{{ 'dot.png' | asset_url }}" id="dot-1">
  <img src="{{ 'dot.png' | asset_url }}" id="dot-2">
  <img src="{{ 'dot.png' | asset_url }}" id="dot-3">
  <img src="{{ 'dot.png' | asset_url }}" id="dot-4">
  <img src="{{ 'dot.png' | asset_url }}" id="dot-5">

  <img src="{{ 'bottle-1.png' | asset_url }}" id="bottle-1" data-material="bottle">
  <img src="{{ 'bottle-1.png' | asset_url }}" id="bottle-2" data-material="bottle">
  <img src="{{ 'bottle-1.png' | asset_url }}" id="bottle-3" data-material="bottle">
  <img src="{{ 'bottle-1.png' | asset_url }}" id="bottle-4" data-material="bottle">
  <img src="{{ 'bottle-1.png' | asset_url }}" id="bottle-5" data-material="bottle">
  <img src="{{ 'bottle-1.png' | asset_url }}" id="bottle-6" data-material="bottle">
  <img src="{{ 'bottle-1.png' | asset_url }}" id="bottle-7" data-material="bottle">
  <img src="{{ 'bottle-1.png' | asset_url }}" id="bottle-8" data-material="bottle">
  <img src="{{ 'bottle-1.png' | asset_url }}" id="bottle-9" data-material="bottle">

  <img src="{{ 'fish-x.png' | asset_url }}" id="fish-x-1">
  <img src="{{ 'fish-x-badge.png' | asset_url }}" id="fish-x-badge-1">
  <img src="{{ 'fish-round-badge.png' | asset_url }}" id="fish-round-badge-1">
  <img src="{{ 'fish-none.png' | asset_url }}" id="fish-none-1" data-material="fish-none">
  <img src="{{ 'fish-none-trans.png' | asset_url }}" id="fish-none-trans-1" data-material="fish-none">
  <img src="{{ 'fish-none-trans.png' | asset_url }}" id="fish-none-trans-2" data-material="fish-none">

  <img src="{{ 'turtle.png' | asset_url }}" id="turtle-1">

  <img src="{{ 'spoon.png' | asset_url }}" id="spoon-1">

  <img src="{{ 'fork.png' | asset_url }}" id="fork-1">

  {% comment %} Bottom Left {% endcomment %}
  <img src="{{ 'bottle-1.png' | asset_url }}" id="bottle-10" data-material="bottle">
  <img src="{{ 'bottle-1.png' | asset_url }}" id="bottle-11" data-material="bottle">
  <img src="{{ 'bottle-1.png' | asset_url }}" id="bottle-12" data-material="bottle">
  <img src="{{ 'bottle-1.png' | asset_url }}" id="bottle-13" data-material="bottle">
  <img src="{{ 'bottle-1.png' | asset_url }}" id="bottle-14" data-material="bottle">
  <img src="{{ 'bottle-1.png' | asset_url }}" id="bottle-15" data-material="bottle">
  <img src="{{ 'bottle-1.png' | asset_url }}" id="bottle-16" data-material="bottle">
  <img src="{{ 'bottle-1.png' | asset_url }}" id="bottle-17" data-material="bottle">
  <img src="{{ 'bottle-1.png' | asset_url }}" id="bottle-18" data-material="bottle">
  <img src="{{ 'bottle-1.png' | asset_url }}" id="bottle-19" data-material="bottle">
  <img src="{{ 'bottle-1.png' | asset_url }}" id="bottle-20" data-material="bottle">
  <img src="{{ 'bottle-1.png' | asset_url }}" id="bottle-21" data-material="bottle">
  <img src="{{ 'bottle-1.png' | asset_url }}" id="bottle-22" data-material="bottle">
  <img src="{{ 'fish-none-trans.png' | asset_url }}" id="fish-none-trans-3" data-material="fish-none">
  <img src="{{ 'fish-none-trans.png' | asset_url }}" id="fish-none-trans-4" data-material="fish-none">
  <img src="{{ 'badge.png' | asset_url }}" id="badge-1" data-material="badge">
  {% comment %} Bottom right {% endcomment %}
  <img src="{{ 'bottle-1.png' | asset_url }}" class="hidden-xs" id="bottle-23" data-material="bottle">
  <img src="{{ 'bottle-1.png' | asset_url }}" class="hidden-xs" id="bottle-24" data-material="bottle">
  <img src="{{ 'bottle-1.png' | asset_url }}" class="hidden-xs" id="bottle-25" data-material="bottle">
  <img src="{{ 'bottle-1.png' | asset_url }}" class="hidden-xs" id="bottle-26" data-material="bottle">
  <img src="{{ 'bottle-1.png' | asset_url }}" class="hidden-xs" id="bottle-27" data-material="bottle">
  <img src="{{ 'bottle-1.png' | asset_url }}" class="hidden-xs" id="bottle-28" data-material="bottle">
  <img src="{{ 'bottle-1.png' | asset_url }}" class="hidden-xs" id="bottle-29" data-material="bottle">
  <img src="{{ 'bottle-1.png' | asset_url }}" class="hidden-xs" id="bottle-30" data-material="bottle">
  <img src="{{ 'bottle-1.png' | asset_url }}" class="hidden-xs" id="bottle-31" data-material="bottle">
  <img src="{{ 'bottle-1.png' | asset_url }}" class="hidden-xs" id="bottle-32" data-material="bottle">
  <img src="{{ 'bottle-1.png' | asset_url }}" class="hidden-xs" id="bottle-33" data-material="bottle">
  <img src="{{ 'bottle-1.png' | asset_url }}" class="hidden-xs" id="bottle-34" data-material="bottle">
  <img src="{{ 'bottle-1.png' | asset_url }}" class="hidden-xs" id="bottle-35" data-material="bottle">
  <img src="{{ 'badge.png' | asset_url }}" class="hidden-xs" id="badge-2" data-material="badge">
  <img src="{{ 'badge.png' | asset_url }}" class="hidden-xs" id="badge-3" data-material="badge">
  <img src="{{ 'fish-none-trans.png' | asset_url }}" id="fish-none-trans-5" class="hidden-xs" data-material="fish-none">
</div>

{{ '//cdnjs.cloudflare.com/ajax/libs/gsap/2.0.2/TweenMax.min.js' | script_tag }}
{{ '//cdnjs.cloudflare.com/ajax/libs/velocity/2.0.5/velocity.js' | script_tag }}
{{ '//cdnjs.cloudflare.com/ajax/libs/ScrollMagic/2.0.3/ScrollMagic.js' | script_tag }}
{{ '//cdnjs.cloudflare.com/ajax/libs/ScrollMagic/2.0.6/plugins/jquery.ScrollMagic.js' | script_tag }}
{{ '//cdnjs.cloudflare.com/ajax/libs/ScrollMagic/2.0.6/plugins/animation.gsap.js' | script_tag }}
{{ '//cdnjs.cloudflare.com/ajax/libs/ScrollMagic/2.0.6/plugins/animation.velocity.js' | script_tag }}
{{ '//cdnjs.cloudflare.com/ajax/libs/ScrollMagic/2.0.6/plugins/debug.addIndicators.js' | script_tag }}
{{ '//cdnjs.cloudflare.com/ajax/libs/jquery.adaptive-backgrounds/1.0.3/jquery.adaptive-backgrounds.js' | script_tag }}
{{ '//cdnjs.cloudflare.com/ajax/libs/jquery.adaptive-backgrounds/1.0.3/jquery.adaptive-backgrounds.min.js' | script_tag }}
{{ '//cdnjs.cloudflare.com/ajax/libs/color-thief/2.0.1/color-thief.min.js' | script_tag }}
<script type="text/javascript">
  function initScrollMargic() {
    var controller = new ScrollMagic.Controller();
    var element = 40;
    var tween = new TimelineMax()
      .add([
        TweenMax.fromTo(["#top-left"], 1, {opacity:"1",y:100,scale:1}, {
           opacity:7,
           scale:1,
           y:-350,
           ease: Linear.easeNone
        }),
        TweenMax.fromTo(["#top-right"], 1, {opacity:"1",y:100,scale:1}, {
           opacity:7,
           scale:1,
           y:-350,
           ease: Linear.easeNone
        }),
        TweenMax.fromTo(["#bottle-1"], 1, {opacity:"0",y:100,scale:.8, rotation:-150}, {
           opacity:7,
           scale:1,
           rotation:-300,
           y:-250,
           ease: Linear.easeNone
        }),
        TweenMax.fromTo(["#bottle-2"], 1, {opacity:"0",y:100,scale:.8, rotation:-100}, {
           opacity:7,
           scale:1,
           rotation:-300,
           y:-250,
           ease: Linear.easeNone
        }),
        TweenMax.fromTo(["#bottle-2"], 1, {opacity:"0",y:100,scale:.8, rotation:100}, {
           opacity:7,
           scale:1,
           rotation:250,
           y:-250,
           ease: Linear.easeNone
        }),

        TweenMax.fromTo(["#bottle-3"], 1, {opacity:"0",y:10,scale:.8, rotation:-60}, {
           opacity:7,
           scale:1,
           rotation:-120,
           y:-250,
           ease: Linear.easeNone
        }),
        TweenMax.fromTo(["#bottle-4"], 1, {opacity:"0",y:100,scale:.8, rotation:-120}, {
           opacity:7,
           scale:1,
           rotation:-240,
           y:-250,
           ease: Linear.easeNone
        }),
        TweenMax.fromTo(["#bottle-5"], 1, {opacity:"0",y:100,scale:.8, rotation:0}, {
           opacity:7,
           scale:1,
           rotation:-180,
           y:-250,
           ease: Linear.easeNone
        }),
        TweenMax.fromTo(["#bottle-6"], 1, {opacity:"0",y:100,scale:.8, rotation:-90}, {
           opacity:7,
           scale:1,
           rotation:-210,
           y:-250,
           ease: Linear.easeNone
        }),
        TweenMax.fromTo(["#bottle-7"], 1, {opacity:"0",y:100,scale:.8, rotation:120}, {
           opacity:7,
           scale:1,
           rotation:-210,
           y:-250,
           ease: Linear.easeNone
        }),
        TweenMax.fromTo(["#bottle-8"], 1, {opacity:"0",y:100,scale:.8, rotation:-150}, {
           opacity:7,
           scale:1,
           rotation:-300,
           y:-250,
           x:200,
           ease: Linear.easeNone
        }),
        TweenMax.fromTo(["#bottle-9"], 1, {opacity:"0",y:100,scale:.8, rotation:-100}, {
           opacity:7,
           scale:1,
           rotation:-300,
           y:-250,
           ease: Linear.easeNone
        }),
        TweenMax.fromTo(["#bottle-10"], 1, {opacity:"0",y:100,scale:.8, rotation:100}, {
           opacity:7,
           scale:1,
           rotation:250,
           y:-250,
           ease: Linear.easeNone
        }),

        TweenMax.fromTo(["#bottle-11"], 1, {opacity:"0",y:10,scale:.8, rotation:-60}, {
           opacity:7,
           scale:1,
           rotation:-120,
           y:-250,
           ease: Linear.easeNone
        }),
        TweenMax.fromTo(["#bottle-12"], 1, {opacity:"0",y:100,scale:.8, rotation:-120}, {
           opacity:7,
           scale:1,
           rotation:-240,
           y:-250,
           ease: Linear.easeNone
        }),
        TweenMax.fromTo(["#bottle-13"], 1, {opacity:"0",y:100,scale:.8, rotation:0}, {
           opacity:7,
           scale:1,
           rotation:-180,
           y:-250,
           ease: Linear.easeNone
        }),
        TweenMax.fromTo(["#bottle-14"], 1, {opacity:"0",y:100,scale:.8, rotation:-90}, {
           opacity:7,
           scale:1,
           rotation:-210,
           y:-250,
           ease: Linear.easeNone
        }),
        TweenMax.fromTo(["#bottle-15"], 1, {opacity:"0",y:100,scale:.8, rotation:120}, {
           opacity:7,
           scale:1,
           rotation:-210,
           y:-250,
           ease: Linear.easeNone
        }),
        TweenMax.fromTo(["#bottle-16"], 1, {opacity:"0",y:100,scale:.8, rotation:-150}, {
           opacity:7,
           scale:1,
           rotation:-300,
           y:-250,
           ease: Linear.easeNone
        }),
        TweenMax.fromTo(["#bottle-17"], 1, {opacity:"0",y:100,scale:.8, rotation:-100}, {
           opacity:7,
           scale:1,
           rotation:-300,
           y:-250,
           ease: Linear.easeNone
        }),
        TweenMax.fromTo(["#bottle-18"], 1, {opacity:"0",y:100,scale:.8, rotation:100}, {
           opacity:7,
           scale:1,
           rotation:250,
           y:-250,
           ease: Linear.easeNone
        }),

        TweenMax.fromTo(["#bottle-19"], 1, {opacity:"0",y:10,scale:.8, rotation:-60}, {
           opacity:7,
           scale:1,
           rotation:-120,
           y:-250,
           ease: Linear.easeNone
        }),
        TweenMax.fromTo(["#bottle-20"], 1, {opacity:"0",y:100,scale:.8, rotation:-120}, {
           opacity:7,
           scale:1,
           rotation:-240,
           y:-250,
           ease: Linear.easeNone
        }),
        TweenMax.fromTo(["#bottle-21"], 1, {opacity:"0",y:100,scale:.8, rotation:0}, {
           opacity:7,
           scale:1,
           rotation:-180,
           y:-250,
           ease: Linear.easeNone
        }),
        TweenMax.fromTo(["#bottle-22"], 1, {opacity:"0",y:100,scale:.8, rotation:-90}, {
           opacity:7,
           scale:1,
           rotation:-210,
           y:-250,
           ease: Linear.easeNone
        }),
        TweenMax.fromTo(["#bottle-23"], 1, {opacity:"0",y:100,scale:.8, rotation:120}, {
           opacity:7,
           scale:1,
           rotation:-210,
           y:-250,
           ease: Linear.easeNone
        }),
        TweenMax.fromTo(["#bottle-24"], 1, {opacity:"0",y:100,scale:.8, rotation:-150}, {
           opacity:7,
           scale:1,
           rotation:-300,
           y:-250,
           ease: Linear.easeNone
        }),
        TweenMax.fromTo(["#bottle-25"], 1, {opacity:"0",y:100,scale:.8, rotation:-100}, {
           opacity:7,
           scale:1,
           rotation:-300,
           y:-250,
           ease: Linear.easeNone
        }),
        TweenMax.fromTo(["#bottle-26"], 1, {opacity:"0",y:100,scale:.8, rotation:100}, {
           opacity:7,
           scale:1,
           rotation:250,
           y:-250,
           ease: Linear.easeNone
        }),

        TweenMax.fromTo(["#bottle-27"], 1, {opacity:"0",y:10,scale:.8, rotation:-60}, {
           opacity:7,
           scale:1,
           rotation:-120,
           y:-250,
           ease: Linear.easeNone
        }),
        TweenMax.fromTo(["#bottle-28"], 1, {opacity:"0",y:100,scale:.8, rotation:-120}, {
           opacity:7,
           scale:1,
           rotation:-240,
           y:-250,
           ease: Linear.easeNone
        }),
        TweenMax.fromTo(["#bottle-29"], 1, {opacity:"0",x:0, y:100,scale:.8, rotation:-10}, {
           opacity:7,
           scale:1,
           rotation:-280,
           y:-250,
           x:10,
           ease: Linear.easeNone
        }),
        TweenMax.fromTo(["#bottle-30"], 1, {opacity:"0",y:100,scale:.8, rotation:-90}, {
           opacity:7,
           scale:1,
           rotation:-210,
           y:-250,
           ease: Linear.easeNone
        }),
        TweenMax.fromTo(["#bottle-31"], 1, {opacity:"0",y:100,scale:.8, rotation:120}, {
           opacity:7,
           scale:1,
           rotation:-210,
           y:-250,
           ease: Linear.easeNone
        }),
        TweenMax.fromTo(["#bottle-32"], 1, {opacity:"0",y:100,scale:.8, rotation:-150}, {
           opacity:7,
           scale:1,
           rotation:-300,
           y:-250,
           ease: Linear.easeNone
        }),
        TweenMax.fromTo(["#bottle-33"], 1, {opacity:"0",y:100,scale:.8, rotation:-100}, {
           opacity:7,
           scale:1,
           rotation:-300,
           y:-250,
           x:10,
           ease: Linear.easeNone
        }),
        TweenMax.fromTo(["#bottle-34"], 1, {opacity:"0",y:100,scale:.8, rotation:100}, {
           opacity:7,
           scale:1,
           rotation:250,
           y:-250,
           ease: Linear.easeNone
        }),

        TweenMax.fromTo(["#bottle-35"], 1, {opacity:"0",y:10,scale:.8, rotation:-60}, {
           opacity:7,
           scale:1,
           rotation:-120,
           y:-250,
           ease: Linear.easeNone
        }),
        TweenMax.fromTo(["#fish-x-1"], 1, {opacity:"0",y:100,scale:.8, rotation:-120}, {
           opacity:7,
           scale:1,
           rotation:-240,
           y:-250,
           ease: Linear.easeNone
        }),
        TweenMax.fromTo(["#fish-x-badge-1"], 1, {opacity:"0",y:100,scale:.8, rotation:0}, {
           opacity:7,
           scale:1,
           y:-250,
           x:200,
           ease: Linear.easeNone
        }),
        TweenMax.fromTo(["#fish-round-badge-1"], 1, {opacity:"0",y:100,scale:.8, rotation:0}, {
           opacity:7,
           scale:1,
           rotation:0,
           y:-250,
           ease: Linear.easeNone
        }),
        TweenMax.fromTo(["#fish-none-1"], 1, {opacity:"0",y:100,scale:.8, rotation:120}, {
           opacity:7,
           scale:1,
           rotation:-210,
           y:-250,
           x:10,
           ease: Linear.easeNone
        }),
        TweenMax.fromTo(["#fish-none-trans-1"], 1, {opacity:"0",y:10,scale:.8, rotation:-60}, {
           opacity:7,
           scale:1,
           rotation:-120,
           y:-250,
           ease: Linear.easeNone
        }),
        TweenMax.fromTo(["#fish-none-trans-2"], 1, {opacity:"0",y:100,scale:.8, rotation:-150}, {
           opacity:7,
           scale:1,
           rotation:-300,
           y:-250,
           ease: Linear.easeNone
        }),
        TweenMax.fromTo(["#turtle-1"], 1, {opacity:"0",y:100,scale:.8, rotation:0}, {
           opacity:7,
           scale:2,
           rotation:0,
           y:-250,
           ease: Linear.easeNone
        }),
        TweenMax.fromTo(["#spoon-1"], 1, {opacity:"0",y:100,scale:.8, rotation:-150}, {
           opacity:7,
           scale:1,
           rotation:-300,
           y:-250,
           ease: Linear.easeNone
        }),


        TweenMax.fromTo(["#fork-1"], 1, {opacity:"0",y:100,scale:.8, rotation:-120}, {
           opacity:7,
           scale:1,
           rotation:-240,
           y:-250,
           ease: Linear.easeNone
        }),
        TweenMax.fromTo(["#fish-none-trans-3"], 1, {opacity:"0",y:100,scale:.8, rotation:0}, {
           opacity:7,
           scale:1,
           rotation:-180,
           y:-250,
           ease: Linear.easeNone
        }),
        TweenMax.fromTo(["#fish-none-trans-4"], 1, {opacity:"0",y:100,scale:.8, rotation:-90}, {
           opacity:7,
           scale:1,
           rotation:-210,
           y:-250,
           ease: Linear.easeNone
        }),
        TweenMax.fromTo(["#badge-2"], 1, {opacity:"0",x:0,y:100,scale:.8}, {
           opacity:7,
           scale:1,
           y:-250,
           x:150,
           ease: Linear.easeNone
        }),
        TweenMax.fromTo(["#badge-3"], 1, {opacity:"0",y:10,scale:.8, rotation:-60}, {
           opacity:7,
           scale:1,
           rotation:-120,
           y:-250,
           ease: Linear.easeNone
        }),
        TweenMax.fromTo(["#fish-none-trans-5"], 1, {opacity:"0",y:100,scale:.8, rotation:-150}, {
           opacity:7,
           scale:1,
           rotation:-300,
           y:-250,
           ease: Linear.easeNone
        }),
      ]);
    var scene = new ScrollMagic.Scene({
        triggerElement: ("#tube_area"),
        triggerHook: 0.7, 
        duration: $("#tube_area").height()*2
      })
      .setTween(tween)
      .addTo(controller);
    var controller = new ScrollMagic.Controller();
  }
  $(document).ready(function() {
    initScrollMargic();
  });
</script>