{%- assign _section = section.settings -%}
<div class="product-whatin">
  <div class="whatin-inner">
    <div class="whatin-background lazyload"
      {%- if _section.back_img != blank -%}
        data-bgset="{% include 'responsive-bg-image', image: _section.back_img %}"
      {%- endif -%}
      style="background-image: url('{{ _section.back_img | img_url: '300x' }}');"
    >
    </div>
    <div class="whatin-content">
      {%- if _section.title != blank -%}
        <h2 class="whatin-title">{{ _section.title }}</h2>
      {%- endif -%}
      {%- if _section.detail != blank -%}
        <p class="whatin-sub-title">{{ _section.detail }}</p>
      {%- endif -%}
      {%- if section.blocks.size > 0 -%}
        <div class="whatin-items">
          <div class="whatin-items-inner">
            {%- for block in section.blocks -%}
              {%- assign _block = block.settings -%}

              {%- assign _index = forloop.index0 | modulo: 2 -%}
              <div class="whatin-item{% if _index == 1 %} second-type{% endif %}">
                <div class="whatin-item--inner">
                  <div class="whatin-item--image">
                    <img src="{{ 'in-item.png' | asset_url }}" />
                  </div>
                  <div class="whatin-item--info">
                    <div class="whatin-item--title">{{ _block.title }}</div>
                    <div class="whatin-item--detail">{{ _block.detail }}</div>
                  </div>
                </div>
              </div>
            {%- endfor -%}
          </div>
        </div>
      {%- endif -%}
    </div>
  </div>
</div>
{% schema %}
  {
    "name": "Product In",
    "settings": [
      {
        "type": "image_picker",
        "id": "back_img",
        "label": "Background Image"
      },
      {
        "type": "text",
        "id": "title",
        "label": "Title",
        "default": "What's in"
      },
      {
        "type": "textarea",
        "id": "detail",
        "label": "Detail",
        "default": "The healthy and the kind"
      }
    ],
    "blocks": [
      {
        "type": "in-item",
        "name": "Product in Item",
        "settings": [
          {
            "type": "text",
            "id": "title",
            "label": "Title"
          },
          {
            "type": "textarea",
            "id": "detail",
            "label": "Detail"
          }
        ]
      }
    ]
  }
{% endschema %}